<?xml version="1.0" encoding="utf-8"?>
<!--
 * @author JuanJakobo
 * @version 0.05
 -->
<configuration>
  <appSettings>
    <!-- Changeintervall between different tabs -->
    <add key="UpdateIntervall" value="10" />
    <!-- FontSize of the Labels (timelabel etc.) -->
    <add key="LabelFontSize" value ="35"/>

    <!-- Activate or deactivate statusreport of pc to database 
		Query "INSERT INTO screen (hostname, last_login) VALUES(?,?) ON DUPLICATE KEY last_login = ?"
	  -->
    <add key="WriteToDB" value="false" />
    <!-- How often have all tabs to pass until the statusreport will be written to DB -->
    <add key="DBCounter" value="1" />    
    <add key="mysqlUsername" value="test" />
    <add key="mysqlPassword" value="test" />
    <add key="mysqlHost" value="test" />
    <add key="mysqlDatabase" value="test" />



  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>